h1
  | 👋 Oh, hi there!

include templates/about-me.pug

if badges && badges.length
  include templates/badges.pug

if articles && articles.length
  include templates/medium-articles.pug

if instagram && instagram.length
  include templates/instagram.pug

if github && github.enabled
  include templates/github-stats

if social && social.length
  include templates/social.pug

br
hr

p(align='center')
  | This README file is generated every day!
  br
  | Last refresh: #{refreshDate}

p(align='center')
  img(src='https://github.com/arjenbrandenburgh/arjenbrandenburgh/workflows/README%20build/badge.svg')
  |  
  img(alt='Stars' src!='https://img.shields.io/github/stars/arjenbrandenburgh/arjenbrandenburgh?style=flat-square&labelColor=343b41')
  |  
  img(alt='Forks' src!='https://img.shields.io/github/forks/arjenbrandenburgh/arjenbrandenburgh?style=flat-square&labelColor=343b41')
  |  
  img(src!='https://gpvc.arturio.dev/' + github.username alt='Profile views')