if github && github.username
  img(align='right' width='150' height='150' src='https://github.com/' + github.username + '.png?size=150')

p
  | Welcome to my GitHub profile! 
  br
  |  I'm Arjen, Fullstack Team Lead for 
  a(href='https://www.techspire.nl' target='_blank')
    | Techspire
  |  living in 🇳🇱 
  b Utrecht, the Netherlands
  | .

hr
