p
  | Welcome to my GitHub profile! 
  br
  |  I'm Arjen, Fullstack Team Lead for 
  a(href='https://www.techspire.nl' target='_blank')
    | Techspire
  |  living in 🇳🇱 
  b Utrecht, the Netherlands
  | .

hr
